div#workspace-name {
    float: right;
    margin-top: 5px;
}

div#workspace-name span {
    color: #006699;
    text-decoration: underline;
    font-size: 1.2rem;
}

span#changeWorkspace {
    color: blue !important;
}

div#widgets {
    display: table;
    border-collapse: separate;
    border-spacing: 5px;
    margin-top: 5px;
}

div#widgets div.widget {
    width: 300px;
    display: table-cell;
    background-color: #e6e6e6;
    padding: 5px 10px;
    vertical-align: top;
    border: 1px solid var(--border-color);
}

div.widget ul li {
    list-style-type: none;
}

div.widget img {
    display: block;
    margin: auto;
}

div.widget h3 {
    font-size: 1.15rem;
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 2px;
    margin-bottom: 5px;
}

div.lockedMessage {
    color: var(--error);
}

img.ticketLoading {
    width: 32px;
    height: 32px;
}