.required::after {
    content: "*";
    font-weight: 600;
    color: #CC0000;
}

/* Button Bar */

div.button-bar {
    border-bottom: 1px solid var(--border-color);
    padding: 10px 0 13px 0;
}

/* Buttons */

.button, .button-noveil{
    font-family: Arial, sans-serif;
    font-weight: normal;
    color: #666;
    border-radius: 3px;
    background: linear-gradient(#e7e7e7, #fff, #fff ,#fff, #e9e9e9, #e9e9e9, #e9e9e9);
    box-shadow: 0 2px 2px #888;
    border: 1px solid #000;
    font-size: 1rem;
    margin-bottom: 5px;
    width: auto;
    padding: 2px 15px;
    text-decoration: none;
    cursor: pointer;
    line-height: 19px;
    vertical-align: middle;
    position: relative;
}

.button:hover {
    color: #000;
}

.delete-button:hover {
    color: #FFF;
    background: linear-gradient(#8B0000, #FF0000, #FF0000 ,#FF0000, #8B0000, #8B0000, #8B0000);
}

.button img, .button-noveil img {
    max-height: 16px;
    margin-right: 5px;
    vertical-align: text-top;
}

/* Search forms */
form.search-form {
    border-bottom: 1px solid var(--border-color);
}

form.search-form tbody.additional-fields {
    display: none;
    border-top: 1px solid var(--border-color);
}

form.search-form > div.button-bar {
    float: right;
    text-align: right;
    border-bottom: none;
}

div.button-bar .button-bar-title {
    font-weight: 600;
    margin-right: 5px;
}

/* Table forms */
form table select, form table input {
    border: 1px solid #333;
    width: 100%;
}

form table input[type='checkbox'], form table input[type='radio'] {
    width: auto !important;
}

table.table-display textarea {
    height: 100px;
    width: 500px;
    resize: none;
}

/* Dialog Forms */
div.dialog form span {
    display: block;
    font-weight: 600;
}

form.inline-form {
    display: inline;
    vertical-align: middle;
}

form.inline-form input {
    height: 17px;
    display: inline-block;
}

span#changeWorkspace {
    cursor: pointer;
}