div#login-window * {
    font-size: 1rem !important;
    font-family: "Open Sans", Arial, sans-serif !important;
}

div#login-window {
    display: block;
    position: relative;
    max-width: 735px;
    height: 440px;
    background-color: var(--primary-color);
    background-image: -webkit-linear-gradient(top, rgba(0,200,255,.15) 0%, rgba(0,200,255,0) 8%), -webkit-radial-gradient(750px 600px, circle cover, rgba(0,200,255,.65) 0%,rgba(0,200,255,0) 55%);
    border-radius: 6px;
    box-shadow: var(--bulletin-shadow);
    margin: 200px auto auto;
    text-align: center;
    box-sizing: border-box;
}

span#login-title {
    display: block;
    font-size: 45px !important;
    position: absolute;
    right: 50px;
    bottom: 50px;
    color: #FFF;
    text-shadow: 5px 4px 10px #000;
}

span#app-version {
    font-size: 1.2rem;
    color: #FFF;
    text-shadow: 5px 4px 10px #000;
    position: absolute;
    right: 60px;
    bottom: 40px;
}

span#login-logo {
    display: inline-block;
    margin-bottom: 10px;
    width: 220px;
    height: 80px;
    
    position: absolute;
    left: 15px;
    top: 15px;

    background-image: url(../media/app_logo.png);
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center;
}

div#login-window form {
    text-align: right;
    position: absolute;
    left: 75px;
    top: 175px;
}

div#login-window form p {
    padding: 5px;

}

div#login-window form input {
    display: inline-block;
    border: 1px solid rgba(0,0,0,0.25);
    border-radius: .2em;
    padding: .25em .5em;
    width: 249px;
    margin: auto;
    box-sizing: border-box;
    font-size: .8rem;
}

div#login-window form input[type="submit"] {
    margin-top: 3px;
    margin-right: 5px;
    height: 25px;
    width: 100px;
    background: var(--error);
    color: #FFF;
    font-weight: 600;
    cursor: pointer;
}

div#login-window form input[type="submit"]:hover {
    background: var(--accent-color);
}

div#login-window div#notifications {
    position: absolute;
    width: 259px;
    min-width: 250px;
    top: 10px;
    right: 10px;
    border-radius: 6px;
}

@media screen and (max-device-height: 800px) {
    form#login-window {
        margin-top: 20vh;
    }
}