div#login-window * {
    font-size: 10pt !important;
    font-family: "Open Sans", Arial, sans-serif !important;
}

div#login-window {
    display: block;
    position: relative;
    max-width: 635px;
    height: 440px;
    border: 2px solid #185796;
    background-color: var(--primary-color);
    background-image: -webkit-linear-gradient(top, rgba(0,200,255,.15) 0%, rgba(0,200,255,0) 8%), -webkit-radial-gradient(750px 600px, circle cover, rgba(0,200,255,.65) 0%,rgba(0,200,255,0) 55%);
    border-radius: 6px;
    margin: 200px auto auto;
    text-align: center;
    box-sizing: border-box;
}

div#login-reflection {
    display: block;
    width: 635px;
    height: 98px;
    background-image: -webkit-linear-gradient(top, rgba(0,200,255,.1) 0%, rgba(0,200,255,0) 90%), -webkit-radial-gradient(735px -370px, circle cover, rgba(0,200,255,.65) 0%,rgba(0,200,255,0) 55%);
    margin: auto;
    border-radius: 6px;
}

span#login-title {
    display: block;
    font-size: 45px !important;
    position: absolute;
    right: 50px;
    bottom: 50px;
    color: #FFF;
    text-shadow: var(--text-shadow);
}

span#app-version {
    font-size: 1.2rem;
    color: #FFF;
    text-shadow: var(--text-shadow);
    position: absolute;
    right: 60px;
    bottom: 35px;
}

div#login-window form {
    text-align: right;
    position: absolute;
    right: 50px;
    top: 175px;
}

div#login-window form p {
    padding: 5px;

}

div#login-window form input {
    display: inline-block;
    border: 1px solid rgba(0,0,0,0.25);
    border-radius: .2em;
    padding: .25em .5em;
    width: 249px;
    margin: auto;
    box-sizing: border-box;
    font-size: .8rem;
}

div#login-window form input[type="submit"] {
    margin-top: 3px;
    margin-right: 5px;
    height: 25px;
    width: 100px;
    background: var(--error);
    color: #FFF;
    cursor: pointer;
    padding: 0 .5em;
}

div#login-window form input[type="submit"]:hover {
    background: var(--accent-color);
}

div#login-window div#notifications {
    position: absolute;
    width: 259px;
    height: 63px;
    min-width: 250px;
    border-radius: .2em;

    top: 180px;
    left: 25px;

    background-color: var(--accent-color);
    color: #FFFFFF;
}

img#mercury-logo {
    position: absolute;
    top: 25px;
    left: 25px;
}

@media screen and (max-device-height: 800px) {
    form#login-window {
        margin-top: 20vh;
    }
}