form#login-window * {
    font-size: 1rem !important;
    font-family: "Open Sans", Arial, sans-serif !important;
}

form#login-window {
    display: block;
    padding: 15px 0 25px 0;
    max-width: 3in;
    background-color: #D3D3D3;
    border-top: 10px solid #54A4ED;
    box-shadow: var(--md-shadow);
    text-align: center;
    margin: 200px auto auto;
}

span#login-title {
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.2rem !important;
}

span#login-logo {
    display: inline-block;
    margin-bottom: 10px;
    width: 156px;
    height: 120px;
    background-image: url(../media/icon.svg);
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center;
}

form#login-window p {
    padding: 5px;

}

form#login-window input {
    display: inline-block;
    border: 1px solid rgba(0,0,0,0.25);
    border-radius: .2em;
    padding: .5em .75em;
    width: 249px;
    margin: auto;
    box-sizing: border-box;
    font-size: .8rem;
}

form#login-window input[type="submit"] {
    margin-top: 10px;
    height: 35px;
    background: #3C3C3C;
    color: #FFF;
    font-weight: 600;
    cursor: pointer;
}

form#login-window input[type="submit"]:hover {
    background: #5A5A5A;
}

form#login-window div#notifications {
    margin-top: 10px;
    width: 259px;
    min-width: 250px;
    top: auto;
    right: auto;
    left: auto;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-device-height: 800px) {
    form#login-window {
        margin-top: 20vh;
    }
}