:root {

}

header span#company-logo {
    background-image: url('../media/custommedia/company_logo.png');
    filter: var(--image-shadow);
}

header span#app-logo {
    background-image: url('../media/custommedia/merlot_logo.png');
    filter: var(--image-shadow);
    right: 10px;
    left: auto;
    background-position: right;
}

span#login-logo {
    background-image: url('../media/custommedia/merlot_logo.png');
}