span.operation {
    position: relative;
}

span.operation::before {
    position: absolute;
    top: -6px;
    left: -1px;
}

span.operation.add::before {
    content: url("../media/icons/operations/add.png");
}

span.operation.edit::before {
    content: url("../media/icons/operations/edit.png");
}

span.operation.delete::before {
    content: url("../media/icons/operations/delete.png");
}

span.operation.refresh::before {
    content: url("../media/icons/operations/refresh.png");
}

span.operation.search::before {
    content: url("../media/icons/operations/search.png");
}