table.table-display {
    position: relative;
}

img.thumbnailphoto {
    float: right;
    display: inline-block;
    width: 150px;
}

table.table-display#groups td, th{
    font-weight: normal;
    text-align: left;
}

table.table-display#groups th {
    font-weight: 600;
}