<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /ml/
    RewriteRule ^index\.php$ - [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-l
    RewriteRule . /ml/index.php [L]
</IfModule>